
<div class="container">
<app-filter-textbox></app-filter-textbox>
<br />
<br />

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Names</th>
            <th>City</th>
            <th>Ordered items</th>
        </tr>

    </thead>
    <tr>
    <td>
        <a>
            
        </a>
    </td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td colspan="2">&nbsp;</td>
    <td>
        
    </td>
</tr>
<tr>
    <td colspan="4">No customers found</td>
</tr>
</table>

Number of Customers:
<br />
</div>